@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
font-weight: 300;
text-align: center;
background-color: #f8f6f0;
}

.Logo{
  margin-top: 50px;
  position: center;
  font-size: 50px;
}
.btn-primary{
  font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-primary:hover{opacity: 0.6}
*{
  box-sizing: border-box;
}


.col-sm-4 {
  margin-top: 20px;
  float: left;
  position: center;
  width: 33.33%;
  padding: 5px;

}
img{
  border-radius: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
